@font-face {
    font-family: '.';
    src: url('44fb64e5d33ae7d683079d6f695d4788.woff2') format('woff2'),
        url('44fb64e5d33ae7d683079d6f695d4788.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('a2ac2ee6de2c7f885a3cbfdb07916afe.woff2') format('woff2'),
        url('a2ac2ee6de2c7f885a3cbfdb07916afe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('cecb57c5e9f20886c09a3a3f35ca3055.woff2') format('woff2'),
        url('cecb57c5e9f20886c09a3a3f35ca3055.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('a3f5301cbdb4e80450b75992b4dbb678.woff2') format('woff2'),
        url('a3f5301cbdb4e80450b75992b4dbb678.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('a438879744a8a25f716f01d53701588a.woff2') format('woff2'),
        url('a438879744a8a25f716f01d53701588a.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('5953bd189708160917d69caf3046238b.woff2') format('woff2'),
        url('5953bd189708160917d69caf3046238b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

