@import "tailwindcss";
@font-face {
  font-family: "Silka";
  src: url("/fonts/Silka-Regular.woff2") format("woff2"),
    url("/fonts/Silka-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Silka";
  src: url("/fonts/Silka-Bold.woff2") format("woff2"),
    url("/fonts/Silka-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Silka", sans-serif;
}
@layer base {
  ::selection {
    @apply bg-gray-400 text-white;
  }
  ::-moz-selection {
    @apply bg-gray-400 text-white;
  }
}
